name: Build backend

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
    paths:
      - '/src/backend/**'
      - 'main.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    paths:
      - '/src/backend/**'
      - 'main.go'
      - 'go.mod'
      - 'go.sum'

env:
  IMAGE_NAME: larmic/abfallkalender_api

jobs:

  build:
    name: Build backend
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.20

      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Get dependencies
        run: go mod download

      - name: Create kalender.js mock
        run: mkdir dist && touch dist/kalender.js && touch dist/kalender.js.map

      - name: Test
        run: go test -v ./...

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux go build -v ./...