name: Build frontend

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
    paths:
      - '/src/frontend/**'
      - 'package.json'
  pull_request:
    paths:
      - '/src/frontend/**'
      - 'package.json'

env:
  IMAGE_NAME: larmic/abfallkalender_api

jobs:

  build:
    name: Build frontend
    runs-on: ubuntu-latest

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - uses: actions/setup-node@v6
        with:
          node-version: '17'

      - run: npm ci
      - run: npm run build